---
import MainLayout from "../Layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import CardsContainer from "../components/CardsContainer.astro";
import LatestCard from "../components/LatestCard.astro";

import { getCollection } from "astro:content";

const allPosts = await getCollection("blogs");

const postsMetaData = allPosts.map((post) => post.data);
const card = postsMetaData[0];
---

<MainLayout title="Gourav's Shelf" >
  <Header />
  <div class="md:hidden mt-[20px]">
    <h1 class:list={["text-2xl md:text-3xl font-bold md:mt-10 p-3 dark:text-white text-black transition-colors duration-700"]}>
    Trending post
  </h1>
    <CardsContainer
      postsMetaData={[postsMetaData.at(0)]}
      showMore={false}
    />
  </div>
  <div class="hidden md:block">
    <LatestCard metaData={postsMetaData[0]} />
  </div>
  <div class="md:mt-[200px]">
  <CardsContainer
    postsMetaData={postsMetaData.slice(1).slice(0, 2)}
    showMore={true}
  />
  </div>
</MainLayout>

<style is:global>
  * {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
