---
const { author, tags } = Astro.props;
import { slugify } from "../utils/utils";
---

<div class="container_infos w-full flex justify-between absolute bottom-0 border-t border-t-slate-600 pt-6">
  <div class="postedBy flex flex-col uppercase tracking-wide text-xs">
    <span class="text-xs uppercase opacity-50 tracking-wide font-bold">author</span>
    <span class="text-sm uppercase opacity-100 font-normal mt-2 tracking-wide">{author}</span>
  </div>
  <div class="flex flex-col">
    <span class="text-xs uppercase opacity-50 tracking-wide font-bold">tags</span>
    <div class="tags">
      <ul class="flex mt-2">
        {
          tags.map((tag) => {
            return (
              <li class="text-xs tracking-wider list-none ml-2 uppercase relative z-10 flex justify-center cursor-pointer before:content-[''] before:text-center before:w-full before:opacity-50 before:absolute before:bottom-0 before:-z-10 before:py-0 before:px-[1px] before:h-[5px] before:duration-300 before:ease-in-out before:hover:h-4">
                <a class="no-underline" href=`/tags/${slugify(tag)}`>{tag}</a>
              </li>
            );
          })
        }
      </ul>
    </div> 
  </div>
</div>
