---
import { Picture } from "astro:assets";

const { cardImageUrl } = Astro.props;
console.log(cardImageUrl)
---

<div class="header_post w-full relative top-0">
  <Picture
    src={cardImageUrl.replace(/'/g, '')}
    formats={["avif", "webp"]}
    class="absolute top-0 left-0 object-cover"
    decoding="async"
    loading="lazy"
    height={"600"}
    width={"800"}
    alt="Header image for this card"
  />
</div>
