---
import { Picture } from "astro:assets";

const { cardImageUrl } = Astro.props;
---

<div class="header_post w-full h-[40%] relative top-0">
  <Picture
    src={cardImageUrl}
    formats={["avif", "webp"]}
    class="absolute top-0 left-0 w-full h-full object-cover"
    decoding="async"
    loading="lazy"
    height={"600"}
    width={"800"}
    alt="Header image for this card"
  />
</div>
