---
import Icon from "./CustomIcon.astro";
import ThemeToggle from "./ThemeToggle.astro"

const icons = [
  {href:"https://www.linkedin.com/in/golfsierra/", target: "_blank", name:"Linkedin"},
  {href:"https://www.medium.com/@golfsierra", target: "_blank", name:"Medium"},
  {href:"https://www.github.com/golfsierraAI/", target: "_blank", name:"Github"},
  {href:"mailto:gourav.npm@gmail.com", target: "_blank", name:"Email"},

  ]
---

<div class="sticky top-0 z-20 bg-white py-5 w-full dark:text-white text-black dark:bg-black transition-colors duration-700">
  
  <nav class="flex items-center justify-center relative">
    <div class="flex flex-1">
    </div>
    <div class="flex flex-[2] items-center justify-start lg:justify-center">
      <a class="text-xl lg:text-3xl cursor-pointer" href="/">GOURAV'S SHELF</a>
    </div>

    <div class="grid3 flex flex-1 lg:flex-row flex-col lg:static fixed bg-white dark:bg-black lg:justify-end top-0 right-[-100%] h-[100lvh] lg:h-min w-[70%] lg:w-min z-20 transition-all duration-700 justify-start items-start gap-8 p-8 lg:p-3">
      <div class="flex lg:flex-row flex-col gap-8 justify-start items-start">
        <ThemeToggle />
        {icons.map(({name, target, href})=><Icon href={href} target={target} name={name} />
        )
      }
        <div id="closeIcon" class="h-6 lg:hidden absolute right-5 w-6 mix-blend-exclusion"></div>
      </div>
    </div>

    <div id="hamburger" class="h-7 w-10 lg:hidden absolute top-0 right-0 mix-blend-exclusion"></div>
  </nav>
</div>

<script is:inline>
  document.getElementById("hamburger").addEventListener("click", () => {
    document.getElementsByClassName("grid3")[0].style.right = "0";
  });

  document.getElementById("closeIcon").addEventListener("click", () => {
    document.getElementsByClassName("grid3")[0].style.right = "-100%";
  });
</script>

<style>

  #hamburger {
    background-image: url("/hamburger.svg");
    background-position: center;
    background-size: cover;
  }

  #closeIcon {
    background-image: url("/close.svg");
    background-position: center;
    background-size: cover;
  }
</style>
