---
import Icon from "./CustomIcon.astro";
import ThemeToggle from "./ThemeToggle.astro"

const icons = [
  {href:"https://www.linkedin.com/in/golfsierra/", target: "_blank", name:"Linkedin"},
  {href:"https://www.medium.com/@golfsierra", target: "_blank", name:"Medium"},
  {href:"https://www.github.com/golfsierraAI/", target: "_blank", name:"Github"},
  {href:"mailto:gourav.npm@gmail.com", target: "_blank", name:"Email"},

  ]
---

<div class="sticky top-0 z-20 bg-white py-5 w-full dark:text-white dark:bg-black transition-colors duration-500">
  
  <nav class="wrapper flex items-center justify-center">
    <div class="subgrid flex flex-1">
    </div>
    <div class="subgrid grid2 flex-[2] items-center justify-start lg:justify-center ">
      <a class="text-xl lg:text-3xl cursor-pointer" href="/">GOURAV'S SHELF</a>
    </div>

    <div class="subgrid grid3 justify-end dark:bg-black bg-white transition-colors duration-500">
      <div class="contactIconsWrapper flex gap-8 items-end">
        <ThemeToggle />

        {icons.map(({name, target, href})=><Icon href={href} target={target} name={name} />
        )
      }
        <div id="closeIcon" class="h-6 lg:hidden absolute right-5 w-6 mix-blend-exclusion"></div>
      </div>
    </div>

    <div id="hamburger" class="h-7 w-10 lg:hidden absolute top-0 right-0 mix-blend-exclusion"></div>
  </nav>
</div>

<script is:inline>
  document.getElementById("hamburger").addEventListener("click", () => {
    document.getElementsByClassName("grid3")[0].style.right = "0";
  });

  document.getElementById("closeIcon").addEventListener("click", () => {
    document.getElementsByClassName("grid3")[0].style.right = "-100%";
  });
</script>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  .searchWrapper {
    width: 100%;
    position: relative;
  }


  .contactIconsWrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
  }

  .searchIcon {
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: 1px solid gray;
  }

  input:focus {
    outline: none;
  }

  .subgrid {
    display: flex;
    flex: 1;
  }

  .grid2 {
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  .grid3 {
    justify-content: flex-end;
  }


  #hamburger {
    background-image: url("/hamburger.svg");
    background-position: center;
    background-size: cover;
  }

  #closeIcon {
    background-image: url("/close.svg");
    background-position: center;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .grid3 {
      position: fixed;
      top: 0;
      right: -100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100lvh;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem;
      width: 70%;
      z-index: 200;
    }

    .contactIconsWrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .subgrid:nth-child(1) {
      display: none;
    }
  }
</style>
