---
const { paginationDetails } = Astro.props;
---

<div class="flex gap-4 items-center justify-center mt-20">
  <a
    class:list={[
      {
        "bg-slate-300 text-slate-500 cursor-not-allowed":
          !paginationDetails.url.prev,
        "bg-[#ADD899]": paginationDetails.url.prev,
      },
      "py-2 px-10 rounded-sm",
    ]}
    href={paginationDetails.url.prev}>Previous</a
  >

  <a
    class:list={[
      {
        "bg-slate-300 text-slate-500 cursor-not-allowed":
          !paginationDetails.url.next,
        "bg-[#ADD899]": paginationDetails.url.next,
      },
      "py-2 px-10 rounded-sm",
    ]}
    href={paginationDetails.url.next}>Next</a
  >
</div>
