---
import MainHead from "./MainHead.astro";

const { title } = Astro.props;
---

<html lang="en">
  <MainHead title={title} />
  <body>
    <div class="mainWrapper">
      <slot />
    </div>
    <style>
      .mainWrapper {
        margin: auto;
        width: 80%;
        margin-bottom: 3rem;
      }
      @media only screen and (max-width: 600px) {
        .mainWrapper {
          width: 95%;
        }
      }
    </style>
  </body>
</html>
