---
import MainHead from "./MainHead.astro";

const { title } = Astro.props;
---

<html lang="en">
  <MainHead title={title} />
  <body class="dark:bg-black bg-white transition-colors duration-700">
    <div class="mx-auto w-[95%] lg:w-4/5 p-2 mb-12">
      <slot />
    </div>
  </body>
</html>