---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <meta property="og:title" content="Gourav's Shelf" />
  <meta
    property="og:description"
    content="A technical and personal blog maintained by Gourav Sharma"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://gouravwrites.netlify.app/" />
  <meta
    property="og:image"
    content="https://images.pexels.com/photos/261579/pexels-photo-261579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />

  <meta property="og:image:width" content="1200" />

  <meta property="og:image:height" content="630" />

  <meta property="og:site_name" content="Gourav's Shelf" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <title>{title}</title>

  <head>
    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
</head>
