---
import MainHead from "./MainHead.astro";

const { title } = Astro.props;
---

<html lang="en">
  <MainHead title={title} />
  <body>
    <div class="mx-auto lg:w-4/5 p-2 w-full mb-12">
      <slot />
    </div>
  </body>
</html>
